@page "/"

@inject Game game

<PageTitle>Wordler</PageTitle>

<div>
	<text>Round: @(game.Round)</text>
	<text>Remaining words: @(game.GetRemainingWords())</text>

	<h4>Suggestions:</h4>

	<Suggestions RoundNumber=@game.Round SelectSuggestedWord=@SelectSuggestedWord />

	<Spacer Height=25 />

	<h5>Guess Word:</h5>
	<input type="text" maxlength="5" class="guess-word-input" @bind-value=@inputValue @bind-value:event="oninput" @bind-value:after=@UpdateLetters />

	<Spacer Height=25 />

	<h5>Results:</h5>
	<div class="toggle-tiles-container">
		<ToggleTile TileIndex=1 Letter=@(GetLetter(1)) RoundNumber=@game.Round UpdateTileColor=@UpdateTileColor />
		<ToggleTile TileIndex=2 Letter=@(GetLetter(2)) RoundNumber=@game.Round UpdateTileColor=@UpdateTileColor />
		<ToggleTile TileIndex=3 Letter=@(GetLetter(3)) RoundNumber=@game.Round UpdateTileColor=@UpdateTileColor />
		<ToggleTile TileIndex=4 Letter=@(GetLetter(4)) RoundNumber=@game.Round UpdateTileColor=@UpdateTileColor />
		<ToggleTile TileIndex=5 Letter=@(GetLetter(5)) RoundNumber=@game.Round UpdateTileColor=@UpdateTileColor />
	</div>

	<Spacer Height=10 />

	<div class="submit-btn-container">
		<button @onclick=@StartOver>StartOver</button>
		<button @onclick=@SubmitWord>Submit</button>
	</div>
</div>

<h5>Board:</h5>
<div class="board">
	@foreach(BoardRow row in game.GetRows())
	{
		<div class="board-row">
			@foreach(BoardTile tile in row.Tiles)
			{
				switch (tile.Color)
				{
					case TileColor.Green:
						<div class="toggle-tile green-tile">@char.ToUpper(tile.Letter)</div>
						break;
					case TileColor.Yellow:
						<div class="toggle-tile yellow-tile">@char.ToUpper(tile.Letter)</div>
						break;
					default:
						<div class="toggle-tile grey-tile">@char.ToUpper(tile.Letter)</div>
						break;
				}
			}
		</div>
	}
</div>

@code{
	private string? inputValue;

	private void SelectSuggestedWord(string word)
	{
		inputValue = word;
	}

	private TileColor _tile1Color = TileColor.Grey;
	private TileColor _tile2Color = TileColor.Grey;
	private TileColor _tile3Color = TileColor.Grey;
	private TileColor _tile4Color = TileColor.Grey;
	private TileColor _tile5Color = TileColor.Grey;

	private void UpdateTileColor(TileColorAlloy alloy)
	{
		switch (alloy.TileIndex)
		{
			case 1:
				_tile1Color = alloy.Color;
				break;
			case 2:
				_tile2Color = alloy.Color;
				break;
			case 3:
				_tile3Color = alloy.Color;
				break;
			case 4:
				_tile4Color = alloy.Color;
				break;
			default:
				_tile5Color = alloy.Color;
				break;
		}
	}

	private void UpdateLetters()
	{
		StateHasChanged();
	}

	private string GetLetter(int tileIndex)
	{
		try
		{
			return inputValue.Substring(tileIndex-1, 1);
		}
		catch(Exception)
		{
			return "";
		}

	}

	private void StartOver()
	{
		inputValue = null;

		game.ResetGame();
	}

	private void SubmitWord()
	{
		List<TileColor> guessWordColors = new List<TileColor>()
		{
			_tile1Color,
			_tile2Color,
			_tile3Color,
			_tile4Color,
			_tile5Color
		};

		if (inputValue is not null && inputValue.Length == 5)
		{
			game.SubmitWord(inputValue, guessWordColors);

			inputValue = null;

			StateHasChanged();
		}
		else
		{
			// FIXME: throw error message
		}
	}

}